$text-color:rgb(100, 96, 96);
$text-color-opacity:rgba(100, 96, 96, 0.713);
$text-color-white: rgb(255, 255, 255);
$background-color: rgb(13, 13, 13);
$display-grid: grid;
$init-medi: 0px;
$center: center;
$color-red:rgba(255, 0, 0, 0.686);
$text-h3:rgb(51, 51, 51);


//creando un mixin para centrar elemt con grillas
//rid-center-movile recibe 2 parámetros $alig-just-cent puede ser align o justify o other
@mixin grid-center-movile( $alig-just-cent,$grid-temp-col...){
    display:grid;
    grid-template-columns:$grid-temp-col;
    @if($alig-just-cent=='align'){
        align-items: center;
    }@else if($alig-just-cent=='justify'){
        justify-items: center;
    }@else{
        align-items: center;
        justify-items: center;
    }  
   
}
//quitando margin y padding a ul mediante 
@mixin padding-margin($measure...){
    padding: $measure;
    margin: $measure;
}
@mixin li-style($padd,$color){
    list-style: none;
    border-top: 1px solid $color;
    padding: $padd;
}
@mixin a-style($color){
    color:$color;
    &:link,&:visited,&:active{
        text-decoration:none;
    }
}

header{
    @include grid-center-movile('align',1fr);
    background: $background-color;
    /*position: fixed;
    top:0px;*/
    width: 100%;
    color: $text-color-white;
    padding-top:1rem;
    h1{
        margin: 0 0 1rem;
        font-size: 2rem;
    }
    .cont-title-logo{
        @include grid-center-movile('justify', 20% 80%);
        width: 100%;
    }
    .logo{
        height: 2rem;
        filter: invert(100%);
        
    }
    nav{
        width: 100%;
    }
   ul{
        @include padding-margin(0);
        
    }
    li{
        @include li-style(1rem,$text-color);
    }
    a{
        @include a-style($text-color-white);
    }
    .active{
        background: $color-red;
    }

}
// Section home MAnual de usuario
.user-handbook{


    h3{
        color:$text-h3;
        @include padding-margin(0);
        padding-top: 2rem; 
        
    }
    p{
        @include padding-margin(0);
        color:$text-color-opacity;
        
    }
    ul{
        @include padding-margin(0);
        margin-top:1rem;        
    }
    li{
        @include li-style(0.5rem,$text-color-opacity);
        font-size: 1rem;
        color:$text-h3;
        .span-sec{
            font-size: 0.9rem;
            color:$text-color-opacity;
        }
        
    }
    .icon-handbook{
        margin-right: 1rem;
        color:$text-color-opacity;
    }
    
}
